* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.card-img-top {
	min-height: 100px;
	max-height: 200px;
}

#hiName {
	font-size: 4rem;
}

#stack {
	font-size: 1.2rem;
}

#lets {
	font-size: 2rem;
}

h6 {
	font-size: 0.7rem;
}